body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', sans-serif, sans-serif;
}

.contenido {
    position: absolute;
    top: 240px;
    left: 65px;
    color: white;
    max-width: 350px;
}

.contenedor {
    position: relative; /* posiciona h1 y h2 dentro de la imagen */
}

.contenedor img {
    width: 100%;
    height: 550px;
    display: block;
    object-fit: cover;
}

.texto {
    position: absolute;
    top: 150px;
    left: 65px;
    color: white;
    max-width: 350px;
}

.texto h1 {
    margin: 0;
}

.texto h2 {
    margin: 10px 0 0 0;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    background: #2e0854;
    padding: 0 20px;
    align-items: center;
    text-align: right;
    list-style-type: none;
    box-sizing: border-box;
}
.menu li {
    display: inline-block;
    margin-left: 20px;
    border-radius: 5px;
}
.menu a {
    font-family: 'Fira Code', monospace;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
}
.menu li:hover{
    background-color: bisque;
}
.menu a:hover {
    color: #ff0095;
}